.navbar .dropdown-menu,
.auto-mech-container .dropdown-menu {
  font-size: 0.95rem;
}

.navbar .dropleft .dropdown-menu,
.auto-mech-container .dropdown-menu {
  top: 50px;
  right: 10px;
  left: auto;
  margin-top: 0;
  margin-right: 0;
}


.auto-mech-container .dropdown-menu {
  top: 58px;
  right: 118px;
}


.dot-styling .dropdown-item {
  padding: 10px;
}