.edit-profile-form {
    margin: 20px 0 0 0;
}

.save-btn {
    padding: 8px 40px;
}

.form-save-div-btn {
    margin-top: 80px;
}

.edit-profile-form input {
color: #000000;
font-size: 0.875;
font-weight: 500;
}

.edit-profile-form h1 {
    color: #1E1A33;
    font-size: 1.563rem;
    font-weight: 600;
    margin-bottom: 30px;
}