.hero-banner .carousel-inner {
  height: auto;
}

.hero-banner {
  background: linear-gradient(to right, #394cd3, #824bb6, #c64a9c);
}

.top-nav .navbar-nav .nav-item a {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.top-nav .navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
  text-decoration: underline;
}
.top-nav .btn-outline-success {
  color: #fff;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 5px 30px;
  background: none;
}

.top-nav .navbar-light .navbar-nav .nav-link:focus,
.top-nav .navbar-light .navbar-nav .nav-link:hover,
.term-con-footer .navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.reg-now-earn-gift .reg-now-btn button:hover {
  color: #fff;
}

.top-nav .navbar-brand h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.top-nav .navbar-nav {
  margin-left: 100px;
}

.top-nav .navbar-nav .nav-item {
  padding: 0 10px;
}

.banner-carousel .land-l-txt h2 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  margin-top: 160px;
}

.banner-carousel .get-start-btn button,
.reg-now-btn button {
  background: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  padding: 5px 30px;
  margin-top: 40px;
}


.masonry-grid-container {
  padding: 0px 50px;
}

.masonry-ben-grid h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #1e1a33;
  font-size: 2.188rem;
  font-weight: 500;
}

.masonry-ben-grid .card {
  width: 300px;
  padding-bottom: 20px;
  border: none;
  border-radius: 12px;
  color: #fff;
}

.masonry-ben-grid .card.earn-pts-card {
  background: #2ac4ea;
  margin-top: 50px;
  padding-bottom: 120px;
}

.masonry-ben-grid .card.promo-card {
  background: #ff1053;
}

.masonry-ben-grid .card.gen-pro-card {
  background: #2f88d6;
  margin-top: 130px;
}

.masonry-ben-grid .card.oil-rem-card {
  background: #3452ff;
}

.masonry-ben-grid .card.bonus-card {
  background: #fb8805;
}

.masonry-ben-grid .card.discount-card {
  background: #34a853;
}

.masonry-ben-grid .card .mason-card-title {
  font-size: 1.125rem;
  font-weight: 500;
}

.masonry-ben-grid .card .mason-card-txt {
  font-size: 0.875rem;
  font-weight: 400;
}

.masonry-ben-grid .card .card-icon-img {
  margin: 20px 0px;
}

.masonry-ben-grid .card .card-icon-img img {
  width: 60px;
  margin-top: 10px;
}

.masonry-ben-grid .card .genius-icon-img img {
  width: 80px;
  margin-bottom: 20px;
}

.reg-now-earn-gift .container-fluid {
  height: auto;
  background: linear-gradient(to right, #394cd3, #824bb6, #c64a9c);
  margin-top: 50px;
}

.reg-now-earn-gift .container-fluid h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding-top: 100px;
}

.reg-now-earn-gift .reg-now-btn {
  text-align: center;
  padding-bottom: 100px;
}

.prom-offer-content .card {
  border: none;
}

.prom-offer-content h1 {
  text-align: center;
  margin: 50px 0 30px 0;
  color: #1e1a33;
  font-size: 2.188rem;
  font-weight: 500;
}

.promo-carousel {
  text-align: center;
}

.promo-carousel .carousel-indicators {
  bottom: -50px;
}

.promo-carousel .carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background: #0550db;
  border-top: none;
  border-bottom: none;
}

.promo-carousel .promo-slider-01 img,
.promo-carousel .promo-slider-02 img,
.promo-carousel .promo-slider-03 img,
.promo-carousel .promo-slider-04 img,
.promo-carousel .promo-slider-05 img,
.promo-carousel .promo-slider-06 img {
  /*  width: 300px; */
  height: 240px;
  border-radius: 12px;
}

.term-con-footer .container-fluid {
  margin-top: 100px;
  background: #1e1a33;
}
.term-con-footer .navbar {
  background: none;
  height: 80px;
}

.term-con-footer .nav-link.foot-cond-txt,
.term-con-footer .navbar-text {
  color: white;
  font-size: 0.85rem;
  font-weight: 400;
}
