.overlay.active {
    display: block;
    opacity: 1;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0A0A0A;
    z-index: 9998;
}

.full-screen-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align-last: center;
}



.overlay .loader-otp-txt {
    color: #fff;
    font-size: 1.25rem;
}